/* pc */
@media (min-width: 64em) {

}

/* tablet and mobile */

@media (max-width: 63.9375em) {
    .contact-info{
        line-height: 2;
    }

    .contact-submit-btn{
        font-size: 17px;
    }

    #footer .social-list{
        font-size: 60px;
    }

}

/* tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .control {
        position: absolute;
        top: 23%;
        width: 14vw;
        height: 54%;
        background-color: rgba(92, 94, 97, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 100;
        transition: opacity 0.5s linear;
    }

    .play-pause {
        cursor: pointer;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* mobile */
@media (max-width: 46.1875em){

    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }

.s-mt-8{
    margin-top: 8px !important;
}

    #header{
        overflow: hidden;
    }
    
    #header .mobile-menu-btn.js-menu-btn{
        display: block;
    }
    
    #header .search-button{
        display: none;
    }
    #nav{
        display: block;
    }

    #nav .subnav{
        position: initial;
        background-color: #333;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }

    #nav .subnav > li{
        color: #fff;
    }

    #nav > li {
        display: block;
    }

    #nav  li a{
        padding: 1px 24px;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #slider .text-content{
        display: none;
    }

   #content .member-avatar {
        width: 60%;
   }

   .contact-form{
       margin-top: 32px;
   }

   .slideshow-wrapper {
    width: 100%;
    height: 30vh;
    background: linear-gradient(
-45deg
, #3100A3, #AE01E1, #3C94FC );
    position: relative;
   }
   .control {
    position: absolute;
    top: 46%;
    width: 14vw;
    height: 22%;
    background-color: rgba(92, 94, 97, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.5s linear;
}

.left-arrow {
    left: 4%;
}

.right-arrow {
    right: 4%;
}
.play-pause {
    cursor: pointer;
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translateX(-50%);
}

.play-pause i {
    color: #ffffff;
    font-size: 25px;
  }
  
}